/*
Manage all link in css
*/
/*
general for link
*/
.link--uppercase {
  text-transform: uppercase;
}

.link--pink {
  color: #D60202;
}

.link--pink:hover, 
.link--pink:focus,
.link--black:hover, 
.link--black:focus {
  color: #54B689;
}

.link--black {
  color: #000;
  font-size: 14px;
}

.link--14 {
  font-size: 14px;
}

.link--spaceleft {
  padding: 0px 0px 0px 20px; 
}

.link--15 {
  font-size: 15px;
}

/*
link cart 
*/
.cart__link {
  font-family: 'Roboto Condensed',sans-serif !important;
  text-decoration: none;
  vertical-align: middle;
  font-size: 14px;
}

/*
Link navigation in menu
*/
.navMenu__link {
  text-decoration: none;
  color: #fff;
  padding: 0px 16px 0px 16px;
}

.navMenu__link:hover,
.navMenu__link:focus {
  background-color: #EA028A;
  padding: 14px 16px 14px 16px;
}

/*button seach*/
.search__btn {
  background: #EA028A;
  border-radius: 0;
  box-shadow: none;
  border: 0;
  width: 70px;
  height: 40px;
  margin: 0 0 0 112px;
  padding: 0;
  color: #ffffff;
  font-size: 14px;
}

.search__btn:hover,
.search__btn:focus {
  background: #42A890;
}

/*
link item under navigation menu
*/
.boxItems__link {
  text-decoration: none;
  width: 100%;
  color: #666;
}

.boxItems__link:hover,
.boxItems__link:focus {
  color: #000;
}

/*
link menu item on top bar
*/
.menuProduct {
  padding: 2px 0 0 917px;
}

.menuProduct__item {
  padding: 0 0 0 12px;
  text-decoration: none;
}

.menuProduct__item--color {
  color: #D60202;
}

.menuProduct__item:hover,
.menuProduct__item:focus {
  color: #42A890;
}
