/*
generall for css
text, layer,background
*/
.body {
  margin: 0px; 
 }

 a {
   text-decoration: none;
 }

 .l-topheader {
   font-family: 'Roboto Condensed',sans-serif !important;
   font-size : 14px;
   padding: 6px 0px 11px 0px;
   background-color: #ddd; 
 }

 .container {
   margin-right: 50px;
   margin-left: 65px;	
 }

/*
logo on top bar
*/
.logo {
  float: left;
  margin: 10px 0 0 0;
}

/*
serach items on top bar
*/
.search {
  float: left;
  padding: 27px 0 0 289px;
}

.search__input {
  border-radius: 0px;
  box-shadow: none;
  border: 0;
  font-size: 14px; 
  color: #888;
  vertical-align: middle;
  height: 40px;
  font: normal 14px/20px Arial, Helvetica, sans-serif;
  line-height: 14px;
}

/*
cart on top bar
*/
.cart {
  float: left;
  padding: 37px 0 0 155px;
}

.cart__icon {
  color: #ffffff;
  padding: 5px 8px 5px 8px;
  background: #EA028A;
  float: left;
  border-radius: 15px;
  font-size: 14px;
}

.cart_text {
  color: #666;
  margin: 0px 0 0 5px;
}

.cart_text:hover,
.cart_text:focus {
  color: #EA028A;
}

.l-nav {
  font-family: 'Roboto Condensed',sans-serif !important;
  padding: 92px 0px 0px 0px;
  color: #ffffff;
  font-size: 14px;
}

.mycart {
  text-transform: uppercase;
  padding: 0px 3px 0px 0px; 
}

/*
navigation menu
*/
.navMenu {
  list-style: none;
  background: #000;
  padding: 14px 0px 14px 0px;
}

.navMenu__item {
  display: inline;
}

.navMenu__item--uppercase {
	text-transform: uppercase;
}

.navMenu__item--right {
  padding: 0px 0px 0px 372px;
}

/*
link button under navigation
*/
.l-top-shop {
  font-family: 'Roboto Condensed',sans-serif !important;
  padding: 6px 0px 50px 0px;
}

.boxItems__icon {
  float: left;
  vertical-align: middle;
  padding: 0px 10px 0px 10px;
  font-size: 18px;
}

.boxItems {
  float: left;
  width: 33%;
  font-size: 14px;
}

.boxItems__text--top {
  text-transform: uppercase;
  font-size: 17px;
}

.boxItems__text {
  padding: 0px 0px 0px 61px;
}

.l-right-shop {
  font-family: 'Roboto Condensed',sans-serif !important;
  float: left;
  width: 25%;
  padding: 30px 0px 0px 0;
}

/*
general for text
*/
.text {
  padding: 0px 0px 0px 5px;
}

.text--gray {
  color: #666;
}

.text--left {
  float: left;
}

.text__img {
  vertical-align: middle;
}

.text__titleLeft {
  padding: 11px 0px 11px 22px;
  margin: 0 24px 0px 0;
}

.text--backgroundPink {
  background: #C30374;
}

.text--white {
 color: #ffffff;
}

.text--uppercase {
 text-transform: uppercase;
}

.text--size16 {
  font-size: 16px;
}

.text--size14 {
  font-size: 14px;
}

.text--size20 {
  font-size: 20px;
}

.text--oldprice {
  text-decoration: line-through;
  color: #888;
  font-weight: bold;
}

.text--price {
  color: #CA0000;
}

.menuLeftBox__icon {
  float: left;
}

.menuLeftBox__title {
  padding: 0px 0px 0px 34px;
}

/*
list items products in left bar
*/
.table {
  display: inline;
  margin: 0;
  padding: 0;
}

.table__item {
  text-decoration: none;
  list-style: none;
  font: 14px/20px 'Roboto Condensed', sans-serif !important
 }

 .table__item--space {
  padding: 9px 0 1px 0;
 }

.table__hr hr {
  color: #ddd;
  background-color: #ddd;
  border: 0;
  height: 1px;
  width: 90%;
  margin: 10px 0 0 0;
}

/*
best seller in left bar
*/
.menuSellItem {
  margin: 10px 0 0 0;
}

.menuSellItem__details {
  padding: 0 0 0 120px;
}

.menuSellItem__price {
  padding: 10px 0 0 0;
}

.menuSellItem__hr hr{
  margin: 45px 0 0 0;
  color: #ddd;
  background-color: #ddd;
  border: 0;
  height: 1px;
  width: 90%;  
}

/*
News on left bar
*/
.menuLeftBoxNews__title {
  padding: 25px 20px 15px 0px;
  font-size: 15px;
}

.menuLeftBoxNews_details {
  padding: 0px 40px 0px 0px;
}

/*
Sumup people vist page
*/
.menuLeftBoxSumup__item {
  padding: 5px 30px 0px 20px;
  font-size: 14px;
}

.menuLeftBoxSumup__total {
  text-align: center;
  padding: 10px 30px 0px 0px;
}

.menuLeftBoxSumup__day {
  float: left;
  margin: 0 50px 0 0;
}

.menuLeftBoxSumup__number {
  text-align: right;
}

.menuLeftBoxSumup__space hr {
  margin: 1px 0 0 0;
  border-top: 1px dashed #8c8b8b;
  border-bottom: 0;
}

/*
main page
*/
.l-main-content {
  margin: 0px 0px 0px 300px;
  padding: 30px 0 0 0;
}

/*
image center
*/
.centerImage {
  height: 331px;
  overflow: hidden;
}