.body {
 margin: 0px; 
 font-family: "Helvetica Neue", Helvetica, Arial, sans-serif
 }

.header {
 }

.bg-top-header {
 height: 40px;
 background: rgb(229, 226, 222); 
 }

.comment {
 color: #999;
}

.imglogo {
 width: 150px; 
 height: 150px; 
 }

.logo-header {
 width: 100%;
 height: 300px; 
 }

.logo-header div {
 float: left;
 }

.logo {
 width: 14%; 
 padding: 60px 0px 20px 60px; 
 }

.center-header {
 width: 50%; 
 padding: 60px 80px 20px 0px; 
 }

.right-header	{
 width: 22%; 
 padding: 60px 0px 20px 0px;
 }

.title {
 text-transform : uppercase;
 font-family: inherit;
 font-size : 14px;
 line-height: 24px;
 color: rgb(189, 54, 47);
 }

.top-right-image {
 position: relative;
 top: 0;
 width: 100%;
 height: 100%; 
 }

.image_right_top {
 position: absolute;
 right: 0px; 
 }

.bnt-text {	
 font-weight: bold;
 font-size: 16px; 
 }

.txt_btntop {
 color: #ffffff; 
 display: inline-block;
 border-radius: 4px;
 background: rgb(189, 54, 47);
 margin: 10px 0px 10px 0px; 
 padding: 12px 30px 12px 30px;
 text-transform: uppercase; 
 text-decoration: none; 
 }

.btn-hbottom {
 color: #000000 ; 
 display: inline-block;
 border-radius: 4px;
 background: rgb(229, 226, 222);
 margin: 10px 0px 10px 0px; 
 padding: 15px 38px 15px 38px;
 text-decoration: none; 
 }

.txt_btnrightContent {
 color: #ffffff; 
 display: inline-block;
 border-radius: 4px;
 background: rgb(189, 54, 47);
 margin: 10px 0px 15px 0px; 
 padding: 12px 30px 12px 30px;
 text-transform: uppercase; 
 text-decoration: none; 
}

.devide_content {
 margin: 0px 60px 0px 60px; 
 background: rgb(229, 226, 222);
 height: 3px;
 }

.content_main_left div {
 float: left;
 }

.left-main-content {
 width: 67%; 
 padding: 40px 30px 0px 60px; 
 }

.right-content {
 width: 22%; 
 padding: 40px 0px 20px 0px;
 }


.bottom-main-content {
 padding: 0px 30px 50px 60px; 
 display: inline-block;
 float: left;
 }

.quickStart {
 clear: both; 
 }

.content-quickStart {
 display: inline-block; 
 }

h3 {
 font-size: 22px;
 font-height: 24px;
 color: rgb(189, 54, 47);
 text-transform: uppercase; 
}

.first-column-content {
 width: 20%;
 padding: 0px 40px 0px 0px; 
 color: #999;
 font-size: 14px;
 line-height: 150%;
}

.feature-image {
 position: relative;
 background: rgb(229, 226, 222);
 padding: 20px 0px 20px 0px;
 border-radius: 4px;
 text-align: center;
}

.img_align {
 width: 100%;
 text-align: center;
}

.img_align div {
 float: left;
}

.view-all {
 text-decoration: none;
 color: #999;
 font-style: italic;
}

.img_feature_left {
 width: 200px; 
 height: 150px; 
 padding: 0px 20px 0px 50px;
 }

.img_feature_right {
 width: 200px; 
 height: 150px; 
 padding: 0px 50px 0px 20px;
 }

.img_feature_center {
 width: 200px; 
 height: 150px; 
 padding: 0px 20px 0px 20px;
 }

.block-right-content {
 background: rgb(229, 226, 222);
 padding: 10px 0px 10px 15px;
}

.titlerightBox {
 width: 100%;
 text-align: center;
}

.drawBoxContent {
 border-radius: 4px;
 background: #222;
 padding: 20px 5px 20px 5px;
 margin: 0px 10px 0px 5px;
 font-size: 13px;
 font-family: Menlo, Monaco, 'Andale Mono', 'lucida console', 'Courier New', monospace;
}

.first-footer {
 padding: 0px 30px 20px 60px; 
 display: inline-block;
 }

.second-footer {
 padding: 0px 30px 20px 60px; 
 display: inline-block;
 overflow: auto;
 width: 100%
}

.image-footer {
 margin: 30px 0px 0px 0px;
 text-align: center;
}

.img-logo-footer {
 height: 55px;
 padding: 0px 15px 0px 15px;
}

.title-span-box {
 font-style: italic;
 color: #555;
}

.content-span-box {
 font-style: italic;
 color: #08c;
 padding-bottom: 15px;
}

.boxButton {
 padding: 15px;
 overflow: auto;
 width: 100%;
}

.styleBtnBold {
 font-weight: bold;
 color: #000000;
 text-transform: uppercase;
}

.singleButton {
 padding: 0px 70px 10px 0px
}

.img_btn_small {
 padding: 8px;
 margin-right: 10px;
 background: rgb(189, 54, 47);
 border-radius: 4px;
}

.content-right-finish {
 font-style: italic;
 padding: 20px 0px 20px 0px;
 line-height: 150%;
 color: #999;
 font-size: 14px;
}

.txt-link-visit {
 color: #ffffff; 
 display: inline-block;
 border-radius: 4px;
 background: rgb(189, 54, 47);
 padding: 5px 5px 5px 5px;
 text-transform: uppercase; 
 text-decoration: none; 
 font-weight: bold;
 font-size: 16px;
}

.first-footer {
 background: rgb(229, 226, 222);
 padding: 20px 30px 50px 60px;
}

.details-content-footer div{
 float: left
}

.content-first-footer {
 width: 30%;
 margin: 5px 30px 5px 0px;
 font-size: 14px;
 line-height: 150%;
 color: #999;
}

.content-second-footer {
	width: 100%;
}

a {
 text-decoration: none;
 color: #197499;
}

a:hover, a:focus {
 text-decoration: underline;
}

li {
 margin: 0px 0px 0px -30px;
 font-size: 14px;
 line-height: 150%;
 color: #999;
}

.lsmall-content {
 width: 50%;
}

.left_img_button {
 position: absolute;
 background: #197499;
 padding: 12px 18px 12px 18px;
 border: 3px solid #ffffff;
 border-radius: 25px;
 color: #ffffff;
 left: 15px;
 top: 40%;
 opacity: 0.5;
 font-weight: bold;
}

.right_img_button {
 position: absolute;
 background: #197499;
 padding: 12px 18px 12px 18px;
 border: 3px solid #ffffff;
 border-radius: 25px;
 color: #ffffff;
 right: 15px;
 top: 40%;
 opacity: 0.5;
 font-weight: bold;
}

.left_img_button:hover, .left_img_button:focus, .right_img_button:hover, .right_img_button:focus {
 text-decoration: none;
 background: #005580;
}

.liscensed {
 color: #999;
 margin: 0px 70px 15px 5px;
 font-size: 14px;
 line-height: 150%;
}

p {
 color: #999;
 font-size: 14px;
 line-height: 150%;
}

.split-first-footer {
 margin: 0px 0px 20px 0px;
}

.second-footer {
 text-align: center;
 color: #999;
 font-size: 12px;
 line-height: 150%;
 margin: 50px 0px 50px 0px;
}

.img-right-content{
 width: 90px;
 vertical-align: middle;
}

.feature-content {
 margin: 0px 0px 50px 0px;
}